<p>football works!</p>
<table>
    <tr>
        <th>#</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>Animal</th>
        <th>Plant</th>
    </tr>
    <tr>
        <th>1</th>
        <td>Victoria</td>
        <td>British Columbia</td>
        <td>Canada</td>
        <td colspan="2">Dog</td>
    </tr>
    <tr>
        <th>2</th>
        <td rowspan="2">Vancouver</td>
        <td>British Columba</td>
        <td>Canada</td>
        <td>Goose</td>
        <td>Flower</td>
    </tr>
    <tr>
        <th>3</th>
        <td>Washington</td>
        <td>United States</td>
        <td>Eagle</td>
        <td>Lavender</td> 
    </tr>
    <tr>
        <th>4</th>
        <td>Calgary</td>
        <td>Alberta</td>
        <td>Canada</td>
        <td rowspan="3">Bird</td>
        <td>Rose</td>
    </tr>
    <tr>
        <th>5</th>
        <td>Istanbul</td>
        <td rowspan="2">-</td>
        <td>Turkey</td>
        <td>Pine Tree</td>
    </tr>
    <tr>
        <th>6</th>
        <td>Antalya</td>
        <td>Turkey</td>
        <td>Orange Tree</td>
    </tr>
</table>
